<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RdfStoreSparqlNamespace.storeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RdfStoreSparql.storeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RdfStoreSparql.NameTableSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RdfStoreSparqlNamespace.storeSettings>
            <setting name="Indexes_max_Changes_For_Rebuild" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefualtGraph" serializeAs="String">
                <value>http://defaltGraph</value>
            </setting>
            <setting name="spog_table_file_name" serializeAs="String">
                <value>spogTable.pac</value>
            </setting>
            <setting name="root_dir_path" serializeAs="String">
                <value>c:/store/store database/</value>
            </setting>
            <setting name="max_deletes_for_recreate_table_persent" serializeAs="String">
                <value>20</value>
            </setting>
        </RdfStoreSparqlNamespace.storeSettings>
        <RdfStoreSparql.storeSettings>
            <setting name="Indexes_max_Changes_For_Rebuild" serializeAs="String">
                <value>10000000</value>
            </setting>
            <setting name="DefualtGraph" serializeAs="String">
                <value>http://defaltGraph</value>
            </setting>
            <setting name="spog_table_file_name" serializeAs="String">
                <value>spogTable.pac</value>
            </setting>
            <setting name="root_dir_path" serializeAs="String">
                <value>c:/store/store database/</value>
            </setting>
            <setting name="max_deletes_for_recreate_table_persent" serializeAs="String">
                <value>20</value>
            </setting>
        </RdfStoreSparql.storeSettings>
        <RdfStoreSparql.NameTableSettings>
            <setting name="Index_max_Changes_For_Rebuild" serializeAs="String">
                <value>10000000</value>
            </setting>
            <setting name="simple_literal" serializeAs="String">
                <value>http://simpleliteral</value>
            </setting>
            <setting name="simple_literal_equals_string_literal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value>c:/store/name table/</value>
            </setting>
            <setting name="nametable_file_name" serializeAs="String">
                <value>nametable.pac</value>
            </setting>
        </RdfStoreSparql.NameTableSettings>
    </applicationSettings>
</configuration>